<main>
  <div class="position-relative">
    <!-- shape Hero -->
    <section class="section section-lg section-shaped pb-250">
      <div class="shape shape-style-1 shape-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class=" ">

      <p-table #dt1 [value]="sales" dataKey="id" [rows]="10" [showCurrentPageReport]="true"
      [rowsPerPageOptions]="[10,25,50]" [loading]="loading" styleClass="p-datatable-customers p-datatable-gridlines"
      [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [globalFilterFields]="['productID','productName','salesQ1','salesQ2','salesQ3','salesQ4','totalSales']">
      
      <ng-template pTemplate="caption" (onEditInit)="onEditInit($event)" (onEditCancel)="onEditCancel($event)" >
        <div class="p-d-flex">
          <span class="p-input-icon-left p-ml-auto">
             <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')" placeholder="Search keyword" />
          </span><i class="pi pi-search"></i>
        </div>
      </ng-template>

      <ng-template pTemplate="header">
        <tr id="header" >
          <ng-container *ngFor="let col of customers" >
            <th  *ngIf ="!col.subHeaders" rowspan="2" [pSortableColumn]=col.field >
              {{col.header}} 
              <p-sortIcon field="col.field"></p-sortIcon>
            </th> 
            <th  *ngIf ="col.subHeaders" [attr.colspan]=col.subHeaders.length >
              {{col.header}}
            </th> 
          </ng-container>
        </tr>
        <tr id="subheader">
          <ng-container *ngFor="let col of customers" >
            <th *ngFor='let subheader of col.subHeaders' [pSortableColumn]=subheader.field >{{subheader.header}} <p-sortIcon field="subheader.field"></p-sortIcon></th>
          </ng-container>
        </tr>  
      </ng-template>

      <ng-template pTemplate="body" let-sale>
        <tr>
          <td pEditableColumn>
            <p-cellEditor>
              {{sale.productID}}
              <ng-template pTemplate="input" >
                <input pInputText type="text" [(ngModel)]="sale.productID"  required>
              </ng-template>
              <ng-template pTemplate="output">
                {{sale.productID}}
               </ng-template>
            </p-cellEditor>
          </td>
          <td pEditableColumn>
            <p-cellEditor>
              {{sale.productName}}
              <ng-template pTemplate="input" >
              <input pInputText type="text" [(ngModel)]="sale.productName"  required>
              </ng-template>
              <ng-template pTemplate="output">
                {{sale.productName}}
              </ng-template>
            </p-cellEditor>
          </td>
          <td pEditableColumn> 
            <p-cellEditor>
              {{sale.salesQ1}}
              <ng-template pTemplate="input" >
                <input pInputText type="number" [(ngModel)]="sale.salesQ1"  required>
              </ng-template>
              <ng-template pTemplate="output">
                {{sale.salesQ1}}
              </ng-template>
            </p-cellEditor>
          </td>
                <td pEditableColumn> 
                    <p-cellEditor>
                      {{sale.salesQ2}}
                      <ng-template pTemplate="input" >
                        <input pInputText type="number" [(ngModel)]="sale.salesQ2"  required>
                      </ng-template>
                      <ng-template pTemplate="output">
                        {{sale.salesQ2}}
                      </ng-template>
                    </p-cellEditor>
                </td>
                <td pEditableColumn> 
                    <p-cellEditor>
                      {{sale.salesQ3}}
                      <ng-template pTemplate="input" >
                        <input pInputText type="number" [(ngModel)]="sale.salesQ3"  required>
                      </ng-template>
                      <ng-template pTemplate="output">
                        {{sale.salesQ3}}
                      </ng-template>
                    </p-cellEditor>
                </td>
                <td pEditableColumn> 
                    <p-cellEditor>
                      {{sale.salesQ4}}
                      <ng-template pTemplate="input" >
                        <input pInputText type="number" [(ngModel)]="sale.salesQ4"  required>
                      </ng-template>
                      <ng-template pTemplate="output">
                        {{sale.salesQ4}}
                      </ng-template>
                    </p-cellEditor>
                </td>
                <td>{{sale.salesQ1+sale.salesQ2+sale.salesQ3+sale.salesQ4}}</td>
            </tr>
        </ng-template>   
    </p-table>
    <!--data grid End-->
  </div>
 </section>
    <!-- 1st Hero Variation -->
  </div>

</main>

