  <nav  class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light headroom headroom--top headroom--pinned">

  <div class="container" id="navbar-main" *ngIf="isLoggedIn$ | async as isLoggedIn">
   
    <div class="navbar-collapse collapse" id="navbar_global" [ngbCollapse]="isCollapsed">
      <ul class="navbar-nav navbar-nav-hover align-items-lg-center" >
        <li class="nav-item dropdown" >
          <a class="nav-link no-caret" [routerLink]="['/home']"  data-toggle="dropdown" role="button">
            <i class="ni ni-ui-04 d-lg-none"></i>
            <span class="nav-link-inner--text">Home</span>
          </a>
        </li>
        <li class="nav-item dropdown" >
          <a class="nav-link no-caret" (click)="product()"  data-toggle="dropdown" role="button">
            <i class="ni ni-ui-04 d-lg-none"></i>
            <span class="nav-link-inner--text">New Product </span>
          </a>
        </li>
        <li class="nav-item dropdown" >
          <a class="nav-link no-caret" [routerLink]="['/sales']"  data-toggle="dropdown" role="button">
            <i class="ni ni-ui-04 d-lg-none"></i>
            <span class="nav-link-inner--text">Sales</span>
          </a>
        </li>
      </ul>
             
      <ul class="navbar-nav navbar-nav-hover align-items-lg-center ml-lg-auto">
        <li (click)="onLogout()"  class="nav-item d-none d-lg-block ml-lg-4" >
          <a   class="btn btn-neutral btn-icon" >
            <span class="btn-inner--icon">
              <i class="ni ni-button-power"></i>
            </span>
            <span  *ngIf="isLoggedIn" class="nav-link-inner--text" >Logout</span>
          </a>
        </li>
      </ul>

    </div>
  </div>

</nav>

